.content-modal-line {
    display: flex;
    width: 80%;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    .icon {
        margin: 0 20px;
        font-size: 100px;
    }
}