.machinery-header {
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
.machinery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    background: blue;
}